 
    
    
    .container {
        height: 100vh;
        width:100%;
        display: flex;
    }
    .nav {
            background-color: #db4113;
            padding: 2rem;
            display: flex;
            flex-direction: row;
        }
    
    
    .menu{
        color:white;
        display:flex;
        flex-direction: row;
        justify-content:right;
        

    }
    .col{

        background-color: rgb(47, 79, 52);
        padding: 3rem;
        display: flex;
        flex-direction: column;
    }