body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.333% - 20px);
    margin: 0 10px 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

/* Responsive design */
@media (max-width: 1024px) {
    section {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    section {
        flex-basis: 100%;
    }
}