/* styles.css */

body{
background-color: gainsboro;


}
.div{
    justify-content:center;
    text-align: center;

}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    word-wrap: break-word;
}
.card {
    width: 10rem;
    height: 20rem;
    margin-bottom: 20px;
    margin-right: 50px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 100px red;

}
.img{
    width: 5rem;
    height:5rem;
    border-radius: 50%;


}
.name{
    color: blue;
    
}
.view{
color: blue;
font-weight: bold;
}